

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
 */
 /* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Syne:wght@700;800&display=swap');
 */
 /* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 :root{
    --primary-color: #C9F31D;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-colour:#959595
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;


}


/* 
h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", sans-serif;
} */
body {
  /* Set background color */
  background-color: #131313; 
  
  /* Create the horizontal and vertical lines using linear gradients */
  background-image: 
    linear-gradient(to right,#1F1F1F .5px, transparent 1px);/* Vertical lines */
    /* linear-gradient(to bottom, grey 1px, transparent 1px); */
    
    /* Horizontal lines */
  
  /* Define the spacing and size of the grid cells */
  background-size: 150px 80px; 
  
  /* Optional: ensure the background covers the entire body */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
/* HTML: <div class="triangle"></div> */
.triangle {
  --r:20px; /* border radius */

  width: 180px;
  aspect-ratio: 1/cos(30deg);
  --_g:calc(tan(60deg)*var(--r)) top var(--r),#000 98%,#0000 101%;
  -webkit-mask:
    conic-gradient(from 150deg at 50% calc(3*var(--r)/2 - 100%),#000 60deg,#0000 0)
     0 0/100% calc(100% - 3*var(--r)/2) no-repeat,
    radial-gradient(var(--r) at 50% calc(100% - 2*var(--r)),#000 98%,#0000 101%),
    radial-gradient(var(--r) at left  var(--_g)),
    radial-gradient(var(--r) at right var(--_g));
  clip-path: polygon(50% 100%,100% 0,0 0);
  background: linear-gradient(45deg,#FA6900,#C02942);
}
.wavy-circle {
  --s: 500px; /* adjust to control the size */
  background: linear-gradient(45deg,#FA6900,#C02942);
  width: var(--s); 
  aspect-ratio: 1;
  --g:/calc(var(--s)*0.405) calc(var(--s)*0.405) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
  mask: calc(50% + var(--s)*-0.13) calc(50% + var(--s)*0.224) var(--g),calc(50% + var(--s)*-0.13) calc(50% + var(--s)*-0.224) var(--g),calc(50% + var(--s)*0.259) calc(50% + var(--s)*0) var(--g),radial-gradient(calc(var(--s)*0.319),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*-0.467) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.234) calc(50% + var(--s)*-0.405) var(--g),calc(50% + var(--s)*0.234) calc(50% + var(--s)*0.405) var(--g);
}
    #octagon {
      width: 100px;
      height: 100px;
      background: red;
      position: relative;
    }
    #octagon:before {
      content: "";
      width: 100px;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 29px solid red;
      border-left: 29px solid #eee;
      border-right: 29px solid #eee;
    }
    #octagon:after {
      content: "";
      width: 100px;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 29px solid red;
      border-left: 29px solid #eee;
      border-right: 29px solid #eee;
    }
  
@import "tailwindcss";